<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">net.sourceforge.jtds.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:jtds:sqlserver://JALVAREZ:1433/HIBERNATE_4;instance=SQLEXPRESS</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.pool_size">2</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.jcache.JCacheRegionFactory</property>
        <property name="hibernate.javax.cache.provider">org.ehcache.jsr107.EhcacheCachingProvider</property>
        <!-- property name="hibernate.hbm2ddl.auto">create</property-->
        <!-- property name="hibernate.hbm2ddl.auto">update</property-->
        <!-- property name="hibernate.hbm2ddl.import_files">aficiones.sql</property-->
        
        <mapping class="es.aytos.HibernateDual.modelo.Persona"/>
        <mapping class="es.aytos.HibernateDual.modelo.Direccion"/>
        <mapping class="es.aytos.HibernateDual.modelo.Aficion"/>
        <mapping class="es.aytos.HibernateDual.modelo.Usuario"/>

    </session-factory>
</hibernate-configuration>